force-app/main/default/flows/Contract_Line_Item_Uniqueness_Controller_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Unique_Asset_Contract_Id_Assignment</name>
        <label>Unique Asset Contract Id Assignment</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unique_Asset_Contract_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaforUniqueAssetContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unique_Asset_Contract_Id</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormulaforUniqueAssetContractId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Asset_Name__r.Id}+{!$Record.Contract_Name__r.Id}</expression>
    </formulas>
    <interviewLabel>Contract Line Item Uniqueness Controller Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Line Item Uniqueness Controller Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Unique_Asset_Contract_Id</name>
        <label>Update Unique Asset Contract Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Unique_Asset_Contract_Id__c</field>
            <value>
                <elementReference>FormulaforUniqueAssetContractId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unique_Asset_Contract_Id_Assignment</targetReference>
        </connector>
        <object>Contract_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
