force-app/main/default/flows/Contract_Agreement_RecordTypeIdReferenceField_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_value_to_requiredRecordTypeId</name>
        <label>Assign value to requiredRecordTypeId</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>requiredRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_LineItem_Record_For_Corresponding_Asset_Type.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RecordTypeIdReferenceField</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Contract LineItem RecordType Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Agreement RecordTypeIdReferenceField Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_LineItem_Record_For_Corresponding_Asset_Type</name>
        <label>Get Contract LineItem Record For Corresponding Asset Type</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_to_requiredRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RecordTypeIdReferenceField</name>
        <label>Update RecordTypeIdReferenceField</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>RecordTypeIdReferenceField__c</field>
            <value>
                <elementReference>requiredRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_LineItem_Record_For_Corresponding_Asset_Type</targetReference>
        </connector>
        <object>Contract_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>requiredRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
