force-app/main/default/flows/Contract_Renew_Controller_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Status_as_Renewed</name>
        <label>Assign Status as Renewed</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Contract_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_The_Current_Contract_Status</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <description>Getting picklist values of Asset Ownership Type and storing them in this picklist choices.</description>
        <name>PicklistforAssetOwnershipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Ownership_Type__c</picklistField>
        <picklistObject>Contract_Agreement__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistForAssetOwnershipType1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Ownership_Type__c</picklistField>
        <picklistObject>Contract_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistForAssetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Type__c</picklistField>
        <picklistObject>Contract_Agreement__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistForAssetType1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Type__c</picklistField>
        <picklistObject>Contract_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistForRenewableContract</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Renewable_Contract__c</picklistField>
        <picklistObject>Contract_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistForStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Contract_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SetNewContractName</name>
        <dataType>String</dataType>
        <expression>{!GetTheCurrentRecordOfContract.Name} + &apos;_Renewed_&apos; + TEXT({!GetTheCurrentRecordOfContract.End_Date__c} + 1)</expression>
    </formulas>
    <formulas>
        <name>StartDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!GetTheCurrentRecordOfContract.End_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Contract Renew Controller Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Renew Controller Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contract_Record</name>
        <label>Create New Contract Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Asset_Ownership_Type__c</field>
            <value>
                <elementReference>Asset_Ownership_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Type__c</field>
            <value>
                <elementReference>Asset_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Cost__c</field>
            <value>
                <elementReference>Total_Cost_To_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Duration__c</field>
            <value>
                <elementReference>Contract_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Number__c</field>
            <value>
                <elementReference>Contract_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner_Email__c</field>
            <value>
                <elementReference>Contract_Owner_Email2.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner_Name__c</field>
            <value>
                <elementReference>Contract_Owner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Owner_Phone__c</field>
            <value>
                <elementReference>ContractOwnerPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contract_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewable_Contract__c</field>
            <value>
                <elementReference>Renewable_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>GetTheCurrentRecordOfContract.Vendor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Contract_Record</name>
        <label>Get Current Contract Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status_as_Renewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTheCurrentRecordOfContract</name>
        <label>GetTheCurrentRecordOfContract</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Renewal_Record_Creation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_The_Current_Contract_Status</name>
        <label>Update The Current Contract Status</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>Get_Current_Contract_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Renewal_Record_Creation_Screen</name>
        <label>Contact Renewal Record Creation Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contract_Record</targetReference>
        </connector>
        <fields>
            <name>Contract_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SetNewContractName</elementReference>
            </defaultValue>
            <fieldText>Contract Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Asset_Ownership_Type</name>
            <choiceReferences>picklistForAssetOwnershipType1</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Asset_Ownership_Type__c</elementReference>
            </defaultValue>
            <fieldText>Asset Ownership Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset_Type1</name>
            <choiceReferences>picklistForAssetType1</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Asset_Type__c</elementReference>
            </defaultValue>
            <fieldText>Asset Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contract_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Contract_Duration__c</elementReference>
            </defaultValue>
            <fieldText>Contract Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Contract duration must be between 6 to 60 months.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Contract_Duration} &gt; 5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contract_Number</name>
            <dataType>String</dataType>
            <fieldText>Contract Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vendor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Vendor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract_Agreement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract_Owner_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Contract_Owner_Name__c</elementReference>
            </defaultValue>
            <fieldText>Contract Owner Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Owner_Email2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetTheCurrentRecordOfContract.Contract_Owner_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract Owner Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContractOwnerPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Contract_Owner_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Contract Owner Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Renewable_Contract</name>
            <choiceReferences>picklistForRenewableContract</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Renewable_Contract__c</elementReference>
            </defaultValue>
            <fieldText>Renewable Contract?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>StartDateFormula</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Contract Start date must be Greater than Expiration/End date of the Original Contracts.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!GetTheCurrentRecordOfContract.End_Date__c} &lt; {!Start_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Total_Cost_To_Company</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>GetTheCurrentRecordOfContract.Contract_Cost__c</elementReference>
            </defaultValue>
            <fieldText>Total Cost To Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 36, 36);&quot;&gt;There is something wrong!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(112, 104, 244);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>280</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>1000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New Renewed Contract Record is created successfully.</description>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Contract_Record</targetReference>
        </connector>
        <fields>
            <name>RecordCreationMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(75, 67, 228); font-size: 14px; font-family: verdana;&quot;&gt;New Renewed Contract Record is created successfully..!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(22, 22, 28); font-size: 14px;&quot;&gt;&lt;em&gt;&lt;u&gt;Please click on Finish.&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(75, 67, 228); font-size: 18px;&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTheCurrentRecordOfContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentVendorRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
