force-app/main/default/flows/Contract_Agreement_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailforstatusupdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contract_Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subjectforstatusupdate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Status_Value</name>
        <label>Assign Status Value</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>get_the_records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_to_ongoing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_start_date</name>
        <label>Check the start date</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_date_is_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_the_records.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDateapi</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Value</targetReference>
            </connector>
            <label>Start date is today</label>
        </rules>
        <rules>
            <name>Future_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_the_records.Start_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <elementReference>Startdateinfuture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_to_new</targetReference>
            </connector>
            <label>Future Start Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StartDateapi</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Startdateinfuture</name>
        <dataType>Boolean</dataType>
        <expression>{!get_the_records.Start_Date__c} &gt; TODAY()</expression>
    </formulas>
    <interviewLabel>Contract Agreement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Agreement Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_the_records</name>
        <label>get the records</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_start_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Status_to_new</name>
        <label>Status to new</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_ongoing</name>
        <label>Update Status to ongoing</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>get_the_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_the_records</targetReference>
        </connector>
        <object>Contract_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>For_future_Start_date</name>
            <label>For future Start date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>When the contract status updates to ongoing send an email alert to contract owner</description>
        <name>Emailforstatusupdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Contract_Owner_Name__c},&lt;/p&gt;&lt;p&gt;Your contract {!$Record.Name} has been Activated and its status have been updated to Ongoing. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailtotheContractOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;xxxxxxxxxxxxx&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subjectforstatusupdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Status updated to your Contract {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
