force-app/main/default/flows/Hardware_Assignment_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_isAssigned_and_Status</name>
        <label>Assign Values to isAssigned and Status</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Hardware_Detail_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Hardware_Detail_Records.Is_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Hardware_Detail_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values_to_isAssigned_and_Status</name>
        <label>Copy 1 of Assign Values to isAssigned and Status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Hardware_Detail_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Hardware_Detail_Records.Is_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_the_Hardware_Detail_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Hardware_Assigned</name>
        <label>Is Hardware Assigned</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Values_to_isAssigned_and_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assignment_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>IsAssignedDateLessthanToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assignment_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>isUnassignedDateGreaterThanToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_isAssigned_and_Status</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsAssignedDateLessthanToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>isUnassignedDateGreaterThanToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UnassignedDateCheck</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Hardware Assignment Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hardware Assignment Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hardware_Detail_Records</name>
        <label>Get Hardware Detail Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Hardware_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Hardware_Asset_Details__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hardware_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Assigned__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_the_Hardware_Detail_Record</name>
        <label>Copy 1 of Update the Hardware Detail Record</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>Get_Hardware_Detail_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Hardware_Detail_Record</name>
        <label>Update the Hardware Detail Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Get_Hardware_Detail_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hardware_Detail_Records</targetReference>
        </connector>
        <object>Hardware_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
