force-app/main/default/flows/Update_Vendor_Exhausted_Budget_RecordTriggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Setting_Value_of_SumOfExhaustedBudget</name>
        <label>Setting Value of SumOfExhaustedBudget</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>SumOfExhaustedBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaforcaculatingSumOfExhaustedBudget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_those_Contracts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormulaforcaculatingSumOfExhaustedBudget</name>
        <dataType>Currency</dataType>
        <expression>{!SumOfExhaustedBudget} + {!Iterate_those_Contracts.Exhausted_Budget__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Vendor Exhausted Budget RecordTriggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vendor Exhausted Budget RecordTriggered</label>
    <loops>
        <name>Iterate_those_Contracts</name>
        <label>Iterate those Contracts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Contracts_Associated_with_the_Vendor</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setting_Value_of_SumOfExhaustedBudget</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Value_of_Vendors_Exhausted_Budget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Contracts_Associated_with_the_Vendor</name>
        <label>Get All Contracts Associated with the Vendor</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_those_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Exhausted_Budget__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Value_of_Vendors_Exhausted_Budget</name>
        <label>Update the Value of Vendors Exhausted Budget</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Exhausted_Budget__c</field>
            <value>
                <elementReference>SumOfExhaustedBudget</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Contracts_Associated_with_the_Vendor</targetReference>
        </connector>
        <object>Vendor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SumOfExhaustedBudget</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
